<div class="sidebar">
  <div><button type="submit" [routerLink]="['/home']">home</button></div>
  <div><button type="submit" [routerLink]="['/userlist']">users</button></div>
</div>
<div class="body-text">
  
  <div class="container mt-5">
    <div>
      <b>Users</b>
      <span><button class="bt" type="submit" [routerLink]="['/userdetails']">New User</button></span>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of User">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.status }}</td>
          <td><button class="bt" (click)="proceededit(user.id)">Edit</button></td>
          <td><button class="bt" (click)="proceeddelete(user.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>